# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import numpy as np 
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [6]:
# Your code here:
emps = pd.read_csv('Current_Employee_Names__Salaries__and_position_titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [7]:
# Your code here:
emps.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [8]:
# Your code here:
emps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [11]:
# Your code here:
hour = emps['Hourly Rate'].count()
salaried = emps['Annual Salary'].count()

print(f'Hourly {hour} vs. {salaried} salaried employees is {hour+salaried}')

Hourly 8022 vs. 25161 salaried employees is 33183

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [15]:
# Your code here:
depart = emps.groupby(by='Department').count()
depart.head()

,Name,Job Titles,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
Department,,,,,,,
ADMIN HEARNG,39,39,39,39,0,39,0
ANIMAL CONTRL,81,81,81,81,19,62,19
AVIATION,1629,1629,1629,1629,1082,547,1082
BOARD OF ELECTION,107,107,107,107,0,107,0
BOARD OF ETHICS,8,8,8,8,0,8,0

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [34]:
# Your code here:
from scipy.stats import ttest_1samp
from scipy.stats import f_oneway

#HINT
# p_value < p_value_threshold:
    # True - means the hypothesis is within our confidence interval, hence is close to correct
    # False - means the hypothesis is not within our confidence interval, hence is almost centainly incorrect
statistic, p_value = ttest_1samp(emps['Hourly Rate'], 30, nan_policy='omit')
p_value_threshold = 1 - 0.95

print('Statistics', statistic)
print('\n')
print('P(Value):', p_value)
print('\n')
print(f'Decision to {"Reject" if p_value / 2 < p_value_threshold else "accept"} Null Hypothesis')

Statistics 20.619805785494147


P(Value): 4.323024048614701e-92


Decision to Reject Null Hypothesis

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [27]:
# Your code here

test1 = emps[emps['Annual Salary'].notnull()]['Annual Salary']
hypo1 = ttest_1samp(test1, 86000) #86.000

print('Statistics', hypo1[0])
print('\n')
print('P(Value):', hypo1[1])
print('\n')
print(f'Decision to {"Reject" if hypo1[0] / 2 < hypo1[1] else "accept"} Null Hypothesis')

Statistics 5.932870515690814


P(Value): 3.015758519916386e-09


Decision to accept Null Hypothesis

Using the `crosstab` function, find the department that has the most hourly workers.

In [37]:
# Your code here:
mwork = pd.crosstab(emps['Department'],emps['Salary or Hourly']).sort_values('Hourly', ascending=False).head(1)
mwork

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [41]:
# Your code here:
statistic, p_value = ttest_1samp(emps[emps['Department'] == 'STREETS & SAN']['Hourly Rate'], 35, nan_policy='omit')

p_value_threshold = 1 - 0.95


print('Statistics', statistic)
print('\n')
print('P(Value):', statistic)
print('\n')
print(f'Decision to {"Reject" if p_value / 2 < p_value_threshold else "accept"} Null Hypothesis')

Statistics -9.567447887848152


P(Value): -9.567447887848152


Decision to Reject Null Hypothesis

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [51]:
# Your code here:
hourly_work = emps[emps['Salary or Hourly'] == 'Hourly']['Hourly Rate']
cf = 0.95
dg_of_freedom = len(hourly_work) - 1
mean = hourly_work.mean()
std = hourly_work.std()

#Option 1 for std error
std_error = std/np.sqrt(len(hourly_work))

dst = stats.t(dg_of_freedom, 30, std_error)

<scipy.stats._distn_infrastructure.rv_frozen object at 0x000001B19A648A88>

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [54]:
# Your code here:
cf95 = dst.interval(cf)
cf95

(29.73490062860401, 30.26509937139599)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: